{% extends 'base.html' %}
{% load static %}
{% load shuffle %}


{% block title %}
  All Songs
{% endblock title %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'songs/song_template.css' %}">
{% endblock css_files %}


{% block content %}

  {% comment %} <h1 style="padding: 5% 7% 0%; font-size:5rem">All Songs</h1> {% endcomment %}
  <br><br>
  <!--Carousel 1-->
  <h2 id="carousel-h">Listen</h2>
  {% include "songs/includes/carousel.html" with carousel=carousel_list.0 songs_list=songs_list|shuffle%}
  
  <!--Carousel 2-->
  <h2 id="carousel-h">Explore</h2>
  {% include "songs/includes/carousel.html" with carousel=carousel_list.1 songs_list=songs_list|shuffle%}
  
  <!--Carousel 3-->
  <h2 id="carousel-h">Share</h2>
  {% include "songs/includes/carousel.html" with carousel=carousel_list.2 songs_list=songs_list|shuffle%}
  </div>


{% endblock content %}