{% extends 'base.html' %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'songs/index.css' %}">
{% endblock  %}

{% block title %}
    Playlist 
{% endblock  %}

{% block content %}
  {% include "songs/includes/intro.html" %}

  <div class="container-fluid">
    
    <h2 style="font-size:3rem;">Select the song by: </h2>
  </div>

    <div class="cards-wrapper flex-container d-flex justify-content-around category-container">
      {% for category in all_categories %}
          {% include "songs/includes/category.html" %}
      {% endfor %}
    </div>
  



{% endblock  %}