<footer>
  <!-- <section id="footer" style="background-color:#354259;"> -->
    <div class="flex-container1" id="socials">
      <li><a href="https://twitter.com/MehulakaAce"><i class="fa-brands fa-instagram instagram"></i></a></li>
      <li><a href="https://www.linkedin.com/in/mehul-aggarwal-47285421b/"><i class="fa-brands fa-whatsapp whatsapp"></i></a></li>
      <li><a href="https://www.instagram.com/mehul_tp26/"><i class="fa-brands fa-twitter twitter"></i></a></li>
    </div>
      <div class="d-flex justify-content-center p-3">
      <p class="copyright" style="color: #fff;">&copy;{% now 'Y' %} Mehul Aggarwal</p>
    </div>
  </section>

</footer>
<!-- <footer>
    
  <ul id="socials" class="flex-container">
      <li><a href="#"><i class="fa-brands fa-instagram instagram"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-whatsapp whatsapp"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-twitter twitter"></i></a></li>
  </ul>
</footer> -->
