<footer>
  <section id="footer" style="background-color:#354259;">
    <div class="d-flex justify-content-center p-3">
      <a href="https://twitter.com/MehulakaAce"><i class="fab fa-twitter fa-2x s-icons twitter"></i></a>
      <a href="https://www.linkedin.com/in/mehul-aggarwal-47285421b/"><i class="fab fa-linkedin fa-2x s-icons"></i></a>
      <a href="https://www.instagram.com/mehul_tp26/"><i class="fab fa-instagram fa-2x s-icons"></i></a>
    </div>
      <div class="d-flex justify-content-center p-3">
      <p class="copyright" style="color: #fff;">&copy;{% now 'Y' %} Mehul Aggarwal</p>
    </div>
  </section>

</footer>
