.container-fluid{
  padding: 6% 4% 2%;
}
.category-container{
  padding: 2% 0 10%;
}
.type-card{
  text-align: center;
  backdrop-filter: blur(8px);
}

.flip-container {
  -webkit-perspective: 1000; 
  margin:0% 5%;

  width: 23rem;
  height: 18rem;
  border-radius: 100% !important;
  cursor:pointer;
  text-align: center;
}

.flip-container:hover .flipper {
  -webkit-transform: rotateY(180deg);
  cursor:pointer;
}
.flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
  cursor:pointer;
}

.front {
  width: 22rem;
  height: 17rem;
  border-radius: 15px;
  -webkit-backface-visibility: hidden;
  position: absolute;
  margin-top: 1rem!important;
  padding: 0;
}

.front img {
  width: 18rem;
  height: 16rem; 
}

.back {
  width: 22rem;
  height: 17rem;
  border-radius: 15px;
  -webkit-backface-visibility: hidden;
  position: absolute;
  -webkit-transform: rotateY(180deg);
  align-content: center;
  font-family: "Poppins", sans-serif;
  color: white;
}

.back h1 {
  padding-top: 30%;  
  padding-left: 0%;
  font-size: 3rem;
  
}

.flipper {
  -webkit-transition: 1.6s;
  -webkit-transform-style: preserve-3d;
  position: relative;
}

.card1{
  background-image: url("/static/songs/images/spotify.png");
  /* background-size: 100%;
  object-fit: cover;
  background-repeat: no-repeat; */
  background-repeat: no-repeat;
background-size: cover;
}

.card2{
  background-image: url("/static/songs/images/youtube.png");
  /* background-size: 100%;
  object-fit: cover;
  background-repeat: no-repeat; */
  
  background-repeat: no-repeat;
  background-size: cover;
}


.card3{
  background-image: url("/static/songs/images/reddit.png");
  /* object-fit: cover;
  background-repeat: no-repeat; */

  background-repeat: no-repeat;
  background-size: cover;
}

a{
  backdrop-filter: blur(12px);
}

@media (max-width:1200px){
  .flex-container {
    flex-direction: column;
    align-items: center;
  }
  .card{
    margin: 2.5% 0;
  }
}