a{
  text-decoration: none !important;
}

.carousel{
  padding: 1%;
}

.flex-container{
  padding: 3.5%;
}

.card{
  color: #033386;
  width: 20rem;
  border-color: #000;
  border-width: 2px;
  text-align: center;
  transition-timing-function: ease-in;
  transition: 1.3s;
  box-shadow: 10px 10px 2px 0 rgba(0, 0, 0, 0.4);
}

.card:hover,
.card:active {
  transform: scale(110%);
  background-color: #256f5c;
  color: #ECE5C7  ;
} 

.card-img-top{
  width: 19.7rem;
  height: 16rem; 
  padding: 2px;  
}

h2,h3{
  text-shadow: -1px 0 black, 2px 1px 2px black, 2px 1px 2px black, 0 -1px  black;
}

h4,h5{  
  text-shadow: -1px 0 rgb(146, 146, 146), 2px 1px 6px rgb(146, 146, 146), 2px 1px 6px rgb(146, 146, 146), 0 -1px 1px rgb(146, 146, 146);
}

#saved-later {
  margin: 2rem 0;
}

#saved-later button {
  background-color: transparent;
  border: 1px solid #000;
  padding: 0.5rem 2rem;
  font: inherit;
  color: #000;
  cursor: pointer;
}

#saved-later button:hover,
#saved-later button:active {
  background-color: white;
  color: #390281;
}


#carousel-h{
  font-size: 3.8rem;
  padding: 2% 7% 0;
  text-shadow: 6px 4px rgba(0, 0, 0, 0.2);
}

.crs-btns{
  color: #333;
  width: 8%;
}
.crs-btns:hover{
  color: #000;
}

/* .link-btn{
  margin-top: 3%;
}

.link-btn:hover{
  background-color: #000;
} */

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 960px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
  }
  .card{
    margin: 5%;
  }
}
@media (max-width:1200px){
  /* .flex-container{
    flex-direction: column;
    flex-grow: 50%;
    flex-wrap: wrap;
    align-items: center;

  } */
  .card:hover,
  .card:active {
    transform: scale(110%);   
  }
}



