  <div id="accordion" class="p-5" >
    <ul>
    {% for items in features %}

      <li>
      <div class="card" style="border:0px" >
        <div class="card-header" id="">
          <h2 class="mb-0" class="heading">
            <button class="btn btn-link btn-cat" data-toggle="collapse" data-target="#{{items.key|slugify}}" aria-expanded="true" aria-controls="{{items.key|slugify}}">
              {{items.value.title}}
            </button>
          </h2>
        </div>
  
        <div id="{{items.key|slugify}}" class="collapse" aria-labelledby="{{items.key}}" data-parent="#accordion">
          <div class="card-body">
            <ul>
                <li>{{items.value.description}}</li>
          </ul>
        </div>
      </div>
    </div>
    </li>
    {% endfor %}
  </ul>
  </div>