  <div id="accordion" class="p-5" >
    <ul>
    {% for items in features %}

      <li>
      <div class="card" style="border:0px" >
        <div class="card-header" id="">
          <h2 class="mb-0" class="heading">
            <button class="btn btn-link btn-cat" data-toggle="collapse" data-target="#{{items.key|slugify}}" aria-expanded="true" aria-controls="{{items.key|slugify}}">
              {{items.value.title}}
            </button>
          </h2>
        </div>
  
        <div id="{{items.key|slugify}}" class="collapse" aria-labelledby="{{items.key}}" data-parent="#accordion">
          <div class="card-body">
            
            <ul>
                <li>{{items.value.description}}</li>
            </ul>
          <section id="comment-form">
            <form action="{% url 'youtube' %}" method="POST" >
              {% csrf_token %}
              {% for form_field in form %}
                <div class="form-control  {% if form_field.errors %} invalid {% endif %}">

                  {%if not form_field.name == "feature_no"%}

                    {% if form_field.name in items.value.required_params %}
                      <h3>{{ form_field.label_tag }} </h3>
                      {{ form_field }}
                      {{form_field.errors}}
                    {% else %}
                      <h3 id="notrequired">{{form_field.label_tag}} - Not Required</h3>
                    {% endif %}
                  {% else %}
                  <input type="hidden" name="feature_no" id="feature_no" value="{{ items.value.feature_no }}">
                  <!-- {{items.value.feature_no}}   -->
                  {% endif %}
                  
                  <!-- <input type="text" label="Reply"></input> -->
                </div>  
              {% endfor %}
                
              
              <button>Submit</button>
            </form>
          </section>
        
        </div>
      </div>
    </div>
    </li>
    {% endfor %}
  </ul>
  </div>